.my_message p{
	text-align: right;
	width: 100%;
}
.other_message p{
	text-align: left;
	width: 100%;
}

input[type="file"] {
   display: none;
}
.my_message .image_parent {
	text-align: right;
  width: 100%;
}
.other_message .image_parent {
	text-align: left;
  width: 100%;
}
.content{
	width: 40%;
}